{% extends "base.html" %}
{% block content %}
<br><br><br>
<div>
about me:

Hello, my name is Kim Hyun, and im korean.
My age is 14 and my birthday is feb.16.
My current school is ASP.
</div>
<br>
<br>
<div>
hobby

My main hobby is playing games that are not popular in korea.
</div>
 <br>
<div>
i played:
enter the gungeon(+mod) - 617 hr,
call of duty MW2 -  40 hr
kerbal space program - 102 hr
helldivers - 101 hr
and more
</div>
<br>
<br>
<div>
 this is a public website or community, powered by python Flask and HTML, SQLite.
</div>
<div>
 Feel free to upload or share your thoughts and images you want to share!
</div>
<br>
<div>
(if your username or your writing is related
to cyber bully, NSFW 18+, or image that is 18+,
 will delete your account and writing.)
</div>
<br><br><br>
<div>
---<{CONTACT}>---
</div>
<div>
Email: astroflight04@gmail.com
</div>
<div>
phone number: +82 4398 0003
</div>

<img [    ]  >


{% endblock %}